.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la pantalla */
    width: max-content;
  }
  
  /* Estilos para el contenido centrado */
  .centered-content {
    text-align: center; /* Centra el contenido horizontalmente dentro del div */
  }